

@function px_to_rem($target, $context: $base-size) {
  @if $target==0 {
    @return 0;
  }

  @return $target / $context + 0rem;
}

$base-size: 16px;

/* ---FONT SIZE--- */
$lg_title: px_to_rem(28px);
$lg_subTitle: px_to_rem(20px);
$lg_text: px_to_rem(14px);
$lg_formText: px_to_rem(16px);
$md_title: px_to_rem(25px);
$md_subTitle: px_to_rem(13px);
$md_text: px_to_rem(11px);
$md_formText: px_to_rem(13px);
$sm_title: px_to_rem(20px);
$sm_subTitle: px_to_rem(12px);
$sm_text: px_to_rem(10px);
$xs_title: px_to_rem(18px);
$xs_subTitle: px_to_rem(15px);
$xs_text: px_to_rem(10px);

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$font: 'Montserrat', sans-serif;
//color

$bg: white;
$white: #fff;
$black: #000;
$text-color: #333333;
$primary_blue: #065BEA;
$primary_grey: #C6D0E0;
$black_primary: #333333;
$grey_text: #75777A;
$error: #FF4B26;
$complete: #6FCF97;
$btn_hover: #0451D2;
$link_hover: #0A4AB6;